<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--<add key="DataConnectionString" value="Data Source=184.107.12.7\SQLSERVER2019;Initial Catalog=GasStations;Persist Security Info=True;User ID=gas;Password=G4s0Duct0" />
		<add key="DataConnectionString" value="Data Source=107.180.100.184;Initial Catalog=GasStations;Persist Security Info=True;User ID=SA;Password=danyoda2021" />-->
		<add key="DataConnectionString" value="Data Source=177.229.200.118;Initial Catalog=GasStation;Persist Security Info=True;User ID=Cl0ral3x;Password=C0v1d-19" />
		<add key="PETROMOMPANIplace_id" value="26049, 27549,23331, 7761,23510, 24535, 25606,3118,7218,21627" />
		<add key="PETROFIGUESplace_id" value="22649,7761,23510,24535,23507,27546,25606,3118" />
		<add key="PETROELRANCHOplace_id" value="" />
	</appSettings>
</configuration>